{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Html Basic Stuff-->
    <meta charset="UTF-8">
    <title>NotenTool</title>
    <!--Mobile Ready-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <!-- Material Icons -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Static CSS-->
     <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
  <!--Nav Bar with blocks on the left and right side-->
  <nav id="navbar-fixed">
    <div class="nav-wrapper">
      <a href="{% url 'home' %}" class="brand-logo center">Noten Tool</a>
        <ul class="left">
            {% block backIcon %}
            {% endblock %}
        </ul>
        <ul id="nav-mobile" class="right">
            {% block icons %}
            {% endblock %}
        </ul>
    </div>
  </nav>
  <div id="navbar-fixed-wrapper"></div>
  <!--Block for the Content on the Other Sides-->
  {% block body %}
  {% endblock %}
</body>
</html>
