{% extends './base.html' %}
{% block icons %}
    <li><a href="{% url 'logout' %}"><i class="material-icons navbar-icons-size">power_settings_new</i></a></li>
{% endblock %}
{% block body %}
    <!--Show all persons in a box -->
    <div class="row">
    {% for person in people %}
        <a href="{% url 'years' person.id %}">
            <div class="col s12 m4">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">{{ person.email }}</span>
                  <p>Click on me to visit the grades of {{ person.email }}</p>
                </div>
              </div>
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock %}