{% extends './base.html' %}
{% block icons %}
    <li><a href="{% url 'signIn' %}"><i class="material-icons navbar-icons-size">account_circle</i></a></li>
{% endblock %}
{% block body %}
    <!--Error Message-->
    {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message }}');
            </script>
        {% endfor %}
    {% endif %}
    <!--Form-->
    <div class="row">
        <form action="/postsign/" method="post" class="col s12">
            {% csrf_token %}
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="validate">
                <label for="password">Password</label><input type="password" id="password" name="password" class="validate">
                <button class="waves-effect waves-light btn red lighten-2" type="submit">SignIn</button>
        </form>
    </div>
{% endblock %}