{% extends './base.html' %}
{% block backIcon %}
    <li><a href="{% url 'overview' %}"><i class="material-icons navbar-icons-size">arrow_back</i></a></li>
{% endblock %}
{% block icons %}
    <li><a href="{% url 'logout' %}"><i class="material-icons navbar-icons-size">power_settings_new</i></a></li>
{% endblock %}
{% block body %}
    <!--Error Message-->
    {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message }}');
            </script>
        {% endfor %}
    {% endif %}
    <!--Show all years in a box -->
    {% if years %}
        <div class="row">
            {% for year in years %}
                <a href="{% url 'semesters' uid year %}">
                    <div class="col s12 m4">
                      <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                          <span class="card-title">Year {{year}}</span>
                          <p>Click on me to visit the Semesters of the {{year}} Year of {{ email }}</p>
                        </div>
                      </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p class="centeredText">No year detected</p>
    {% endif %}
    <!--Owner View-->
    {% if isOwner %}
      <button data-target="modal1" class="btn modal-trigger btn-floating btn-large waves-effect waves-light red lighten-1 position-bottom-right"><i class="material-icons">add</i></button>
       <div id="modal1" class="modal">
        <div class="modal-content">
            <form action="/saveyear/" method="post">
                {% csrf_token %}
                <label for="year">Enter the year</label>
                <input type="number" name="year" id="year" min="1" max="15" value="1">
                <button type="submit" class="waves-effect waves-light btn red lighten-1"><i class="material-icons left">save</i>Save</button>
            </form>
        </div>
      </div>
      <script>
        $(document).ready(function(){
            $('.modal').modal();
        });
      </script>
    {% endif %}
{% endblock %}